@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, 'Fira Sans';
}

header {
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        color: rgb(112, 112, 112);
        font-size: 56px;
        font-weight: 400px;
        text-align: center;
        font-family: Bakbak One;
        padding-bottom: 10px;

        strong {
            color: black;
            font-family: Bakbak One;
        }
    }

    h2 {
        font-size: 18px;
        text-align: center;
        color: rgb(92, 91, 91);
    }

}

.content-wrap {

    aside {

        nav {

            h3 {
                font-size: 15px;
            }

            a {
                display: block;
            }
        }
    }
}